*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
/*  N  A V */
.contenedor-nav{
	height: 130px;
	background-color: whitesmoke;
}
.a-nav{
	padding-right: 40px;
	color: #2e2e2e;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	bottom: 30px;
}
#logo{
	margin-top: 50px;
}

/* H E R O */

.contenedor-img1{
	background-image: url(../image/img/taxi.jpg);
	height: 600px;
	background-position:center bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	padding:0;
}

#contenido{
	height: 350px;
	background-color: #f7b617;
	margin-top: 100px;
}
#contenido button{
	border-radius: 5px;
	background-color: white;
	border-style: none;
	color: black;
	padding: 8px;
	margin-top: 20px;
}
.estilo-desktop{
	padding: 20px;
	color: white;
	text-align: left;
}
.estilo-desktop h1{
	margin:0;
}
.viaje-logo{
	margin-top: 20px;
}
#registrate{
	margin-top: 20px;
}
.viaja-con{
	padding: 0;
	font-size: 18px;
}
.estilo-desktop input{
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid white;
	background-color: #f7b617;
	width: 130px;
}

/* version mobile*/
.hero-responsive{
	color: white;
	height: 150px;
	text-align: center;
}
.hero-responsive button{
	font-size: 20px;
}

/* I N F O R M A C I O N */

#fondo-info{
	background-color: #f7b617;
	height: 500px;
	padding: 0;
}
#contenedor-info{
	background-color: #f7b617;
	border: 1px solid white;
	border-left: none;
	height: 430px;
	margin-top: 40px;
	color: white;
}
#contenedor-info img{
	margin:30px;
}
#texto-info{
	margin-top: 35px;
	margin-left: 70px;
	color: white;
}
#texto-info p{
	font-size: 23px;
}
#texto-info h1{
	padding-bottom: 10px;
}

/* C O N D U C E */

#img-conduce{
	background-image: url(../image/img/conduce.jpg);
	background-size: cover;
	height: 400px;
	background-position: center;
	padding: 0;
}

#fondoInfo-conduce{
	background-color: rgba(0, 0, 0, 0.64);
	height: 400px;
}
#info-conduce{
	color: white;
	padding-top: 80px;
	padding-left: 20px;
}
#info-conduce p{
	font-size: 16px;
}
#info-conduce button{
	border-style: none;
	border-radius: 5px;
	background-color: #f7b617;
	width: 250px;
	padding: 10px;
	font-size: 18px;
}

/* T A R I F A S */

#contenedor-tarifas{
	background-color: #f7b617;
	height: 500px;
}
.info-mapa{
	color: white;
	margin-left: 50px;
	margin-top: 50px;
}
.info-mapa h1{
	padding-bottom: 15px;
}
.info-mapa h4{
	padding-bottom: 20px;
}
.info-mapa button{
	border-style: none;
	border-radius: 5px;
	padding: 10px;
	color: #2b2b2b;
	margin-left: 50px;
	width: 150px;
}
.div-inputs{
	padding-bottom: 20px;
}
.div-inputs span{
	font-size: 20px;
}
.div-inputs input{
	border: 2px solid white;
	border-radius: 10px;
	background-color:#f7b617;
	padding: 10px;
	color: white;
	width: 300px;
	margin-left: 10px;
}
.cuadrado-map{
	border: 2px solid white;
	padding: 10px;
	height: 400px;
	margin-top: 70px;
}

/* F O O T E R */
#contenedor-footer{
	height: 550px;
	background-color: #2b2b2b;
	color: white;
}
#info-footer{
	margin-top: 80px;
}
#info-footer li{
	display: block;
	text-decoration:none;
	padding: 7px;
}
#info-footer a{
	color: white;
	font-size: 15px;
}
.div-ul{
	padding-left:50px;
}
#icons{
	font-size: 14px;
	margin-top: 260px;
}
#img-google{
	margin-top: 150px;
}
#img-google img{
	padding-top: 20px;
}
#info-footer p{
	text-align: center;
}
