*{
	margin: 0;
	padding: 0;
}
/*  N  A V */
.contenedor-nav{
	height: 130px;
	background-color: whitesmoke;
}
.a-nav{
	padding-right: 40px;
	color: #2e2e2e;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	bottom: 30px;
}
#logo{
	margin-top: 50px;
}

/* H E R O */

.contenedor-img1{
	background-image: url(../image/img/taxi.jpg);
	height: 600px;
	background-position: bottom;
	background-size: 100%;
}

#contenido{
	height: 350px;
	background-color: #f7b617;
	margin-top: 100px;
}

/* I N F O R M A C I O N */

#fondo-info{
	background-color: #f7b617;
	height: 500px;
}
#contenedor-info{
	background-color: #f7b617;
	border: 1px solid white;
	border-left: none;
	width: 1000px;
	height: 430px;
	margin-top: 40px;
}
#contenedor-info img{
	margin-top: 50px;
	margin-left: 70px;
}
#texto-info{
	margin-top: 35px;
	margin-left: 70px;
	color: white;
}
#texto-info p{
	font-size: 23px;
}
#texto-info h1{
	padding-bottom: 10px;
}

/* C O N D U C E */

#img-conduce{
	background-image: url(../image/img/conduce.jpg);
	background-size: cover;
	height: 400px;
	background-position: center;
}
#fondoInfo-conduce{
	background-color: rgba(0, 0, 0, 0.64);
	height: 400px;
	position: relative;
	bottom: 20px;
}
#info-conduce{
	color: white;
}

/* T A R I F A S */

#contenedor-tarifas{
	background-color: #f7b617;
	height: 500px;
}
.info-mapa{
	color: white;
	margin-left: 50px;
	margin-top: 50px;
}
.info-mapa h1{
	padding-bottom: 15px;
}
.info-mapa h4{
	padding-bottom: 20px;
}
.info-mapa button{
	border-style: none;
	border-radius: 5px;
	padding: 10px;
	color: #2b2b2b;
	margin-left: 50px;
	width: 150px;
}
.div-inputs{
	padding-bottom: 20px;
}
.div-inputs span{
	font-size: 20px;
}
.div-inputs input{
	border: 2px solid white;
	border-radius: 10px;
	background-color:#f7b617;
	padding: 10px;
	color: white;
}
.cuadrado-map{
	border: 2px solid white;
	padding: 10px;
	height: 400px;
	margin-top: 70px;
}